@font-face {
    font-family: 'Nexa';
    src: url('nexa-extralight.ttf') format('truetype'),
       url('nexa-extralight.woff2') format('woff2'),
       url('nexa-extralight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
@font-face {
    font-family: 'NexaRegular';
    src: url('nexa-regular.otf') format('truetype'),
       url('nexa-regular.woff2') format('woff2'),
       url('nexa-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

body{
    background: linear-gradient(#110D31, #110D31, #0E112D, #0E112D) fixed;
    /* height: 100%;  */
}

/* #110D31 ---> #0E112D */

/* .col{
    background-color: #b22db2 !important;
} */

/* #react-entry-point{
    height:100vh;
} */

.header_icon{
    background-color : transparent;
    border-color : transparent;
    color : rgba(255, 255, 255, 0.6);
    font-size: 16px;
    padding: 0;
    font-family: Nexa;
}
.header_icon:hover{
    transition: 0.4s ease-out;
    color: white ;
    background-color: transparent;
    border-color: transparent;
}

/*Estilização dos cards*/
.card1_linha1{
    background-color: transparent;
    color: rgba(255,255,255,1);;
    border: transparent;
    /* align-content: center; */
    /* padding: 2%; */
}
.card2_linha1{
    background-color: transparent;
    border-color: transparent;
    /* padding-top: 2%; */
}
.cards_linha2{
    background-color: rgba(32, 36, 73);
    /* color: rgba(255,255,255,0.3); */
}
.cardRadar{
    background-color: transparent;
    color: white;
    border: transparent;
}

/*Estilização dos botões switchs e radio buttons*/
.form-check-input{
    background-color: #202449;
    border-color: rgba(255,255,255,0.2);
}
.form-check-input:checked {
    background-color: #b22db2;
    border-color: #b22db2;
}

/* Estilização do menu dropdown do line graph.
Até daria pra alterar algumas caracteristicas do dropdown diretamente no dcc.dropdown, mas algumas só consegui pelo css, entao preferi alterar tudo por aqui pra centralizar as edições aqui */
.Select-control {
    background-color: #202449 !important;
    border-color: rgba(255,255,255,0.2);
    color: white;
}
.is-open>.Select-control{
    border-color: rgba(255,255,255,0.1);
}
.is-focused:not(.is-open)>.Select-control{
    border-color: #b22db2;
}
.Select-menu-outer {
    background-color: #202449;
    border-color: rgba(255,255,255,0.1);
    color: #b22db2;
}
.Select--multi .Select-value{
    color: #b22db2;
    border-color: #b22db2;
}
.Select-value-icon{
    color: #b22db2 ;
    border-color: #b22db2 !important;
}
.Select-value-icon:hover{
    color: red !important;
}

/* Estilização das fontes: cores, tamanhos e famlias*/
.textoPrincipal{
    font-size: 3.8rem;
    color: white;
    font-family: NexaRegular;
}

.textoSecundario{
    font-size: 1.8rem;
    color: white;
    font-family: NexaRegular;
}

.textoTerciario{
    font-size: 1.4rem;
    color: white;
    font-family: NexaRegular;
}
.textoTerciarioSwitchLineGraph{
    font-size: 1.4rem;
    color: white;
}

.textoQuartenario{
    font-size: 1.2rem;
    color: rgba(255,255,255,0.4);
    display: inline;
    font-family: NexaRegular;
}
.textoQuartenarioBranco{
    font-size: 1.2rem;
    color: white;
    display: inline;
    font-family: NexaRegular;
}
.textoQuartenarioVerde{
    font-size: 1.2rem;
    color: rgba(8,180,164,1);
    font-family: Nexa;
}
.textoQuartenarioVermelho{
    font-size: 1.2rem;
    color: rgba(255,0,0, 0.7);
    font-family: Nexa;
}

h5 {
    display: inline;
}
.graph_line{
    height: 530px;
}
.graph_cards{
    height: 40px;
}
/* 
.scorecard__graph {
    position: relative;
}

.scorecard__graph::before {
    content: '';
    display: block;
    background: linear-gradient(#fff0, purple);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 75%;
    z-index: 0;
} */

.card_compra{
    border-left-width: 15px;
    border-left-color: rgba(8,180,164,1);
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
}
.card_venda{
    border-left-width: 15px;
    border-left-color: rgba(255,0,0, 0.7);
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
}

/* estilização do scroll*/
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(255,255,255, 0.5);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    height: 30px;
    background: #0E112D; 
}

/* estilização do modal*/
.modal_header{
    background: #110D31;
    color: white;
}
.modal_body{
    background: #110D31;
    color: white;
}
.modal_footer{
    background:  #110D31;
}
.btn-close{
    background-color: rgba(255,255, 255, 0.1);
}
.btn-close:hover{
    background-color: rgba(255,255, 255, 0.2);
}
#submit_cadastro{
    background-color: rgba(255,255, 255, 0.1);
    border-color: transparent;
}
#submit_cadastro:hover{
    background-color: rgba(255,255, 255, 0.2);
}
#nome_ativo{
    background-color: rgba(255,255, 255, 0.1);
    border-color: rgba(255,255, 255, 0.1);
    color: white;
}
#nome_ativo::placeholder{
    color: rgba(255,255, 255, 0.3);
}
#preco_ativo{
    background-color: rgba(255,255, 255, 0.1);
    border-color: rgba(255,255, 255, 0.1);
    color: white;
}
#preco_ativo::placeholder{
    color: rgba(255,255, 255, 0.3);
}
#quantidade_ativo{
    background-color: rgba(255,255, 255, 0.1);
    border-color: rgba(255,255, 255, 0.1);
    color: white;
}
#quantidade_ativo::placeholder{
    color: rgba(255,255, 255, 0.3);
}
.fa-trash{
    color : rgba(255, 255, 255, 0.6);
}
.fa-trash:hover{
    transition: 0.2s ease-out;
    color: white ;
}