@font-face {
    font-family: 'Nexa';
    src: url('nexa-extralight.ttf') format('truetype'),
       url('nexa-extralight.woff2') format('woff2'),
       url('nexa-extralight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
@font-face {
    font-family: 'NexaRegular';
    src: url('nexa-regular.otf') format('truetype'),
       url('nexa-regular.woff2') format('woff2'),
       url('nexa-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

body{
    background-color: #121212;
}
.header_icon{
    background-color : transparent;
    border-color : transparent;
    color : rgba(255, 255, 255, 0.6);
    font-size: 16px;
    padding: 0;
    font-family: Nexa;
}
.header_icon:hover{
    transition: 0.4s ease-out;
    color: white ;
    background-color: transparent;
    border-color: transparent;
}

/*Estilização dos cards*/
.card1_linha1{
    background-color: transparent;
    color: rgba(255,255,255,1);;
    border: transparent;
    align-content: center;
    /* padding: 2%; */
}
.card2_linha1{
    background-color: transparent;
    color: white;
    border-color: rgba(93, 59, 151, 1);
    padding-top: 2%;
}
.cards_linha2{
    background-color: rgba(255,255,255,0.1);
    color: rgba(255,255,255,0.3);;
}
.cardRadar{
    background-color: transparent;
    color: white;
    border: transparent;
}

/*Estilização dos botões switchs e radio buttons*/
.form-check-input{
    background-color: rgba(255,255,255,1);
    border-color: white;
}
.form-check-input:checked {
    background-color: rgba(93, 59, 151, 1);
    border-color: rgba(93, 59, 151, 1);
}

/* Estilização do menu dropdown do line graph.
Até daria pra alterar algumas caracteristicas do dropdown diretamente no dcc.dropdown, mas algumas só consegui pelo css, entao preferi alterar tudo por aqui pra centralizar as edições aqui */
.Select-control {

    background-color: rgba(255,255,255,0.1) !important;
    border-color: rgba(255,255,255,0.1);
    color: white;
}
.is-open>.Select-control{
    border-color: rgba(255,255,255,0.1);
}
.is-focused:not(.is-open)>.Select-control{
    border-color: rgba(93, 59, 151, 1);
}
.Select-menu-outer {
    background-color: #2a2a2a;
    border-color: rgba(255,255,255,0.1);
    color: rgba(93, 59, 151, 1);
}
.Select--multi .Select-value{
    color: rgba(93, 59, 151, 1);
    border-color: rgba(93, 59, 151, 1);
}
.Select-value-icon{
    color: rgba(93, 59, 151, 1) ;
    border-color: rgba(93, 59, 151, 1) !important;
}
.Select-value-icon:hover{
    color: red !important;
}

/* Estilização das fontes: cores, tamanhos e famlias*/
.textoPrincipal{
    font-size: 3.8rem;
    color: rgba(93, 59, 151, 1);
    font-family: NexaRegular;
}
.textoSecundario{
    font-size: 1.8rem;
    color: white;
    font-family: NexaRegular;
    text-align: center;
}
.textoTerciario{
    font-size: 1.4rem;
    color: white;
    font-family: NexaRegular;
}
.textoTerciarioOpaco{
    font-size: 1.4rem;
    color: rgba(255,255,255,0.4);
    font-family: Nexa;
}
.textoTerciarioSwitchLineGraph{
    font-size: 1.4rem;
    color: white;
}
.textoTerciarioVerde{
    font-size: 1.2rem;
    color: rgba(8,180,164,1);
    font-family: Nexa;
}
.textoTerciarioVermelho{
    font-size: 1.2rem;
    color: rgba(255,0,0, 0.7);
    font-family: Nexa;
}
.textoQuartenario{
    font-size: 1.2rem;
    color: rgba(255,255,255,0.4);
    display: inline;
    font-family: NexaRegular;
}
h5 {
    display: inline;
}
.graph_line{
    height: 530px;
}
/* 
.scorecard__graph {
    position: relative;
}

.scorecard__graph::before {
    content: '';
    display: block;
    background: linear-gradient(#fff0, purple);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 75%;
    z-index: 0;
} */
